{% load widget_tweaks %}

<form method="post" action="" id="update-form" data-reporter="{{ user }}">
  {% csrf_token %}

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h2 class="modal-title">Update</h2>
  </div>

  <div class="modal-body">

    <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>

    {% for field in form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% render_field field class="form-control" placeholder=field.label %}
        <div class="{% if field.errors %} invalid{% endif %}">
          {% for error in field.errors %}
            <p class="help-block">{{ error }}</p>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="modal-footer">
    <button type="button" class="submit-btn btn btn-primary">Update</button>
  </div>

</form>
<script>
if ($("#id_status").length) {
  $("#id_status").on("change", function() {
    var selected_status = $("#id_status option:selected").text();
    var note_field = $("#id_note");

    switch(selected_status) {
      case 'Issue':
        var user = $("#update-form").data("reporter");
        var today = new Date().toLocaleDateString();
        note_field.val("Reported: " + user + "\nDate: " + today + "\n\nNote: ");
        break;
      case 'Pass':
        note_field.val("Test passed");
        break;
      case 'Bug':
        break;
      case 'False Negative':
        note_field.val("Issue: \n\nAction: ");
        break;
      case 'Fail':
        note_field.val("Test failed");
        break;
    }

  });
}
</script>