#test-result-context-menu {
  position: absolute;
  display: none;
}

#test-case-context-menu {
  position: absolute;
  display: none;
}

#dashboard-table {
    width: 100%;
}

#contextMenu {
  position: absolute;
  display: none;
}

.result-status-cell {
    text-align: center;
}

.result-status-cell-empty {
    text-align: center;
}

.test-name-column {
}

.category-column {
}

.subcategory-column {
}

.test-result-column {
}