#contextMenu {
  position: absolute;
  display: none;
}

#dashboard-table {
    width: 100%;
}

#contextMenu {
  position: absolute;
  display: none;
}

.result-status-cell {
    width: 30px;
    text-align: center;
}

.result-status-cell-empty {
    text-align: center;
}

.test-name-column {
    width: 60px;
}

.category-column {
    width: 25px;
}

.subcategory-column {
    width: 25px;
}

.test-result-column {
    width: 25px;
}